<!-- Modal -->
<div class="modal fade" id="dataTypeDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Tipos de datos</h4>
            </div>
            <div class="modal-body" id="dataTypeContent">
                <div class="row">
                    <div class="col-sm-3">
                        <ol data-draggable="target">
                            <li data-draggable="item">Item 0</li>
                            <li data-draggable="item">Item 1</li>
                            <li data-draggable="item">Item 2</li>
                            <li data-draggable="item">Item 3</li>
                        </ol>
                    </div>
                    <div class="col-sm-3">
                        <ol data-draggable="target">
                            <li data-draggable="item">Item 0</li>
                            <li data-draggable="item">Item 1</li>
                            <li data-draggable="item">Item 2</li>
                            <li data-draggable="item">Item 3</li>
                        </ol>
                    </div>
                    <div class="col-sm-3">
                        <ol data-draggable="target">
                            <li data-draggable="item">Item 0</li>
                            <li data-draggable="item">Item 1</li>
                            <li data-draggable="item">Item 2</li>
                            <li data-draggable="item">Item 3</li>
                        </ol>
                    </div>
                    <div class="col-sm-3">
                        <ol data-draggable="target">
                            <li data-draggable="item">Item 0</li>
                            <li data-draggable="item">Item 1</li>
                            <li data-draggable="item">Item 2</li>
                            <li data-draggable="item">Item 3</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="applyNewDataTypes">Aceptar</button>
            </div>
        </div>
    </div>
</div>