<!DOCTYPE html>
<html lang="es">
	<head>
		<% include sections/head %>
		<script src="/js/plugins/jquery.form.js"></script> 
	</head>
	
	<body>
	    <% include sections/navigation_bar %>
	    
		<div class="container" id="container">
		    <div class="jumbotron">
		        <h1>Wizard</h1>
            </div>
            
            <div class="panel panel-default">
				<div class="panel-body">
					Instrucciones:
					<ol>
						<li>Sube tu dataset en formato csv.</li>
						<li>Con ayuda del ejemplo de los datos contenidos asegurate que los datos del archivo sean los que deseas procesar.</li>
						<li>Sube tu archivo.</li>
						<li>Personaliza el dashboard del dataset.</li>
						<li>Compartelo.</li>
					</ol>
					
					<hr>
					
					<form method="post" action="/upload" enctype="multipart/form-data" id="fileForm">
						<input style="margin-bottom:10px;" type="file" accept=".csv" name="userData" id="userFile" onchange="handleFiles(this.files)" required>
						
						<strong>Ejemplo de los datos contenidos.</strong>
						<pre class="pre-scrollable" id="filePreview"></pre>
						
						<span class="pull-right" style="margin-left:5px;"><button class="btn btn-primary" id="sendFile" disabled>Enviar archivo</button></span>
						
						<div class="progress" id="fileBarProgress">
							<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<script src="/js/uploader.js"></script>
	</body>
</html>