<!DOCTYPE html>
<html lang="es">
	<head>
		<% include sections/head %>
	</head>
	
	<body>
	    <% include sections/navigation_bar %>
	    
		<div class="container">
		    <h1>No se encontro el dataset</h1>
		</div>
	</body>
</html>